<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akali</title>
</head>
<body>
    <h1>kda</h1>
    <h2>Akali</h2>
    <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt9e3ffdcedbc7bb90/5f4041c113ba7e23cc5b6754/AkaliTeaserImage_16_9.jpg?quality=90&crop=1%3A1&width=600" style="border-radius:50%">
</body>
</html>